<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application>
        <service android:name=".services.SensorMessagingListenerService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear"/>
                <data android:host="*"/>
                <data android:pathPattern="/advertise-capabilities"/>
                <data android:pathPattern="/.*/ready"/>
                <data android:pathPattern="/.*/prepare"/>
                <data android:pathPattern="/.*/start"/>
                <data android:pathPattern="/.*/stop"/>
                <data android:pathPattern="/plain-message.*"/>
            </intent-filter>
        </service>

        <service android:name=".services.WearSensorRecordingService"
            android:foregroundServiceType="specialUse"
            android:exported="true">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Foreground service for handling data collection from sensors."/>
        </service>
    </application>
</manifest>